main {
  float: left;
  width: 100%;
}


// Section styles

$color_names: "yellow-primary", "yellow-secondary", "yellow-tertiary", "purple-primary", "purple-secondary", "purple-tertiary", "blue-primary", "blue-secondary", "blue-tertiary", "green-primary", "green-secondary", "green-tertiary", "red-primary", "red-secondary", "red-tertiary";
$color_vars: $yellow-primary, $yellow-secondary, $yellow-tertiary, $purple-primary, $purple-secondary, $purple-tertiary, $blue-primary, $blue-secondary, $blue-tertiary, $green-primary, $green-secondary, $green-tertiary, $red-primary, $red-secondary, $red-tertiary;


@each $name in $color_names {
  $i: index($color_names, $name);

  .#{$name}, .#{$name}-background {

    .input__label--hoshi-color-1::before, .input__label--hoshi-color-2::before, .input__label--hoshi-color-3::before {
    	height: calc(100% - 5px);
    }

  }

  .#{$name} {
    color: nth($color_vars, $i);
		background-color: white;

    .input__label--hoshi-color-1::after, .input__label--hoshi-color-2::after, .input__label--hoshi-color-3::after {
    	border-color: nth($color_vars, $i);
    }

    .input__label--hoshi-color-1::before, .input__label--hoshi-color-2::before, .input__label--hoshi-color-3::before {
    	border-color: nth($color_vars, $i);
    }

    .input__label, .input__field {
      color: nth($color_vars, $i);
    }

    .cta-text {
      a {
        color: nth($color_vars, $i);
      }
    }
    .right {
      border: 0.1em solid nth($color_vars, $i);
      display: inline-block;
    }

    .right:after {
      border-top: 0.1em solid nth($color_vars, $i);
      border-right: 0.1em solid nth($color_vars, $i);
    }

    &.submit-buttons, &.buttons-cta {
      .right {
        border: 0.1em solid nth($color_vars, $i);
      }
      .right::after {
        border-top: 0.1em solid nth($color_vars, $i);
        border-right: 0.1em solid nth($color_vars, $i);
      }

      &:hover {
        background: nth($color_vars, $i);
        color: white;
        border: 3px solid white;
        padding: 7px 17px 7px 7px;

        .right {
          border: 0.1em solid white;
        }
        .right::after {
          border-top: 0.1em solid white;
          border-right: 0.1em solid white;
        }
      }
    }
  }

	.#{$name}-background {
		color: white;
		background-color: nth($color_vars, $i);

    .input__label--hoshi-color-1::after, .input__label--hoshi-color-2::after, .input__label--hoshi-color-3::after {
    	border-color: white;
    }

    .input__label, .input__field {
      color: white;
    }

    .cta-text {
      color: white;
    }

    .email-response{
      opacity: 0;
      transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out; 
    }

    // Callout

    .callout {
      padding: 25px;
      border-bottom: 10px solid white;
      border-left: 10px solid white;

      a {
        color: white;
      }

    }

    .cta-text {
      a {
        color: nth($color_vars, $i);
      }
    }

    .right {
      border: 0.1em solid nth($color_vars, $i);
      display: inline-block;
    }

    .right:after {
      border-top: 0.1em solid nth($color_vars, $i);
      border-right: 0.1em solid nth($color_vars, $i);
    }


    // Callout (Panel), Quote

    .callout-panel, .quote {
      position: relative;
      z-index: 10;

      h2 a {
        color: white;
      }



      // CTA

      .cta-small, .cta-big {
        margin-top: 50px;
      }

      .cta-big {
        .right {
          border: 0.2em solid white;
          display: inline-block;
        }

        .right:after {
          border-top: 0.2em solid white;
          border-right: 0.2em solid white;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .quote{

      .cta-text{ 
 
        a{
          color: white;
          .right{
            border-color: white;
           }
           .right::after {
              border-top: 0.1em solid white;
              border-right: 0.1em solid white;
            }
        
          &:hover{@include opacity(0.7)}

           
        }
      }
      .cta-small {
 
        .cta-text {
          display: block;
        }
      }
    }

    .callout-screen {
      float: left;
      background-color: rgba(nth($color_vars, $i), 0.7);
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 5;
      display: inline-block;

      &.hover {
        &:hover {
          background-color: rgba(255,255,255, 0.7);
        }
      }

    }

    &.submit-buttons, &.buttons-cta {
      .right {
        border: 0.1em solid white;
      }
      .right::after {
        border-top: 0.1em solid white;
        border-right: 0.1em solid white;
      }
    }

    .cta-small {

      height: 25px;
      .cta-text {
        display: none;
      }
    }

    // HOVER

    &.hover {

      &:hover {
        color: nth($color_vars, $i);
        background-color: white;

        a {
          color: nth($color_vars, $i);
        }

        .input__label {
          color: $yellow-primary;
        }

        .cta-small {
          .cta-text {
            display: block;
          }
        }

        .cta-text {
          a {
            color: nth($color_vars, $i);
          }
        }

        .right {
          border: 0.1em solid nth($color_vars, $i);
          display: inline-block;
        }

        .right:after {
          border-top: 0.1em solid nth($color_vars, $i);
          border-right: 0.1em solid nth($color_vars, $i);
        }
      }
    }

	}
}


// Banner

.banner {

  a {
    color: white;
  }

  .cta-small {

    .right {
      border: 0.1em solid white;
    }

    .right:after {
      border-top: 0.1em solid white;
      border-right: 0.1em solid white;
    }
  }

  // Hover

  &:hover {

    .cta-text {
      right: 0px;
    }
  }
}

.banner-text {
  position: relative;
  z-index: 10;
  padding: 50px 150px 50px 50px;

  .banner-title {
    font-family: $font-family--bold;
    font-size: em(52);
    line-height: 1.2em;
    margin-bottom: 25px;
    color: white;
  }

  .banner-cta {
    font-size: em(12);
    text-transform: uppercase;
    font-family: $font-family--bold;

    a {
      color: white;
    }
  }
}

.banner-inner {
  height: 300px;
}

// CTA

.cta-small {
  font-size: em(12);
  text-transform: uppercase;
  font-family: $font-family--bold;
  width: 100%;
  position: relative;
  overflow: hidden;

  .cta-text {
    position: relative;
    right: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    .right {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-left: 1.5em;
      text-align: center;
      line-height: 1.1em;
    }

    .right:after {
      content: '';
      display: inline-block;
      margin-top: .2em;
      margin-left: -0.3em;
      width: .4em;
      height: .4em;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.cta-big {
  margin-top: 50px;
  font-size: em(12);
  text-transform: uppercase;
  font-family: $font-family--bold;
  width: 100%;
  position: relative;
  overflow: hidden;

  .cta-text {
    position: relative;
    right: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    .right {
      display: inline-block;
      width: 7em;
      height: 7em;
      border-radius: 50%;
      margin-left: 1.5em;
      text-align: center;
    }

    .right:after {
      content: '';
      display: inline-block;
      margin-top: 2em;
      margin-left: -0.9em;
      width: 2.4em;
      height: 2.4em;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

}

// Homepage

.callout-news {
  padding: 25px;
  height: 400px;

  .callout-news-headline {
    margin-bottom: 15px;

    h5 {
      margin-bottom: 10px;
    }

    h6 {
      margin-bottom: 25px;
      font-family: $font-family--regular;
    }
  }
}

.information-holder {
  float: left;
  width: 100%;
}

.information-video {
  background: black;
  float: left;
  width: 100%;
  height: 100%;
}

.information-network {
  border-left: 10px solid white;
  float: left;
   width: 100%;
}

.information-bar {
  height: 52px;
  background-color: #fec935;
  padding: 12px;
  font-family: "Avenir Next Cyr W00 Bold";
  font-size: 20px;
  float: left;
  width: 100%;
}

.person {
  width: 25%;
  float: left;

  img {
    float: left;
  }
}

// Sections

section {
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.intro-text, .callout-text, .listing-text, .body-text-area, .icons-text, .buttons-text, .form-text {
  padding: 50px;
  float: left;
}

.email-signup-text {
  padding: 50px;
}

.schedule-text {
  float: left;
  padding: 50px;
}

.quote-text {
  padding: 50px;
  text-align: center;
}

.image {
  height: 400px;
}

.image-with-text {
  height: 600px;
}


.icon-box {
  width: 33.3%;
  float: left;
  padding: 20px 120px 20px 0;

  h5 {
    font-family: $font-family--bold;
  }
}

.schedule-box {
  width: 50%;
  float: left;
  padding: 20px 120px 20px 0;

  .strong {
    font-family: $font-family--bold;
  }
  .blue {
    color: $blue-secondary;
  }
}

.buttons h3, .form h3 {
  margin-bottom: 0;
}

.buttons p, .form p {
  margin-bottom: 15px;
}

.regular-font {
  font-family: $font-family--regular;
}

.buttons-cta {
  display: inline;
  padding: 25px 35px 25px 25px;
  text-transform: uppercase;
  font-family: "Avenir Next Cyr W00 Bold";
  margin-right: 20px;
  position: relative;
  float: left;

  .right {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-left: 1.5em;
    text-align: center;
    border: 0.1em solid $blue-primary;
    line-height: 1.1em;
  }

  .right:after {
    content: '';
    display: inline-block;
    margin-top: .2em;
    margin-left: -0.3em;
    width: .4em;
    height: .4em;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 0.1em solid $blue-primary;
    border-right: 0.1em solid $blue-primary;
  }

  &:hover {
    background: white;
    color: $blue-primary;
    border: 3px solid $blue-primary;
    padding: 22px 32px 22px 22px;
    
    .right {
      border: 0.1em solid $blue-primary;
    }
    .right::after {
      border-top: 0.1em solid $blue-primary;
      border-right: 0.1em solid $blue-primary;
    }


  }
}

.submit-buttons {
  display: inline;
  padding: 10px 20px 10px 10px;
  text-transform: uppercase;
  font-family: "Avenir Next Cyr W00 Bold";
  margin-right: 20px;
  position: relative;
  float: left;
  margin-top: 30px;

  .right {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-left: 1.5em;
    text-align: center;
    line-height: 1.1em;
  }

  .right:after {
    content: '';
    display: inline-block;
    margin-top: .2em;
    margin-left: -0.3em;
    width: .4em;
    height: .4em;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}

.content-half {
  padding-right: 20px;
  margin-top: 20px;

  h5 {
    font-family: $font-family--bold;
    margin-bottom: 0;
  }
}

.content-text {
  padding: 50px;
  float: left;

  p {
    color: black;
  }

  h4 {
    font-family: $font-family--bold;
  }
}

.side-text {
  p {
    margin-bottom: 3px;
    font-size: 10px;
    color: #494949;
  }
}

#content {

  float: left;
}

.thumbnail {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.single-post main, .blog main, .page-template-global-network main, main {
  border-top: 5px solid $yellow-primary;
}

.page-template-product main, .page-template-panel main {
  border-top: 5px solid $blue-primary;
}

.parent-page-online-learning main{
  border-top: 5px solid $blue-primary;
}

.parent-page-residential-experiences main{
  border-top: 5px solid $green-primary;
}

.parent-page-research-ideas main{
  border-top: 5px solid $red-primary;
}







.blog-sidebar {
  padding: 50px 30px;
  background-color: #3a3a3a;
  float: left;
  height: 100%;
  width: 100%;
}

.blog-content {
  float: left;
  padding: 50px;
  width: 100%;
}

.blog-sidebar-title {
  text-transform: uppercase;
  font-family: $font-family--heavy;
  color: $yellow-primary;
  font-size: 15px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  float: left;

  i {
    float: right;
  }
}

.blog-sidebar-title-text {
  float: left;
}

.blog-categories {
  display: none;

  ul {
    margin-bottom: 40px;
    float: left;
    width: 100%;

    li {
      padding: 5px;
      float: left;
      width: 100%;

      a {
        color: $yellow-primary;
        font-size: 15px;
        padding: 5px;
      }

      &.active a {
        background: $yellow-primary;
        color: #3a3a3a;
      }

      &:hover {

        a {
          background: $yellow-primary;
          color: #3a3a3a;
        }
      }
    }
  }
}

.blog-post {
  border-top: 5px solid $yellow-primary;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    margin-bottom: 15px;

    a {
      color: #3a3a3a;
    }
  }

  h5 {
    font-family: $font-family--heavy;

    a {
      color: #3a3a3a;
    }
  }

  h6 {
    color: #3a3a3a;
  }
}

.blog-post-small {
  padding-right: 20px;
}

.blog-post-categories {
  margin-bottom: 10px;
  color: $yellow-primary;
  font-family: $font-family--bold;
}

.active-category {
  display: block;
}

.active-sidebar-title {
  border-bottom: 3px solid $yellow-primary;
}

.moretag {
  color: $yellow-primary;
  text-transform: uppercase;
  font-size: 10px;
  font-family: $font-family--bold;
}

.social-icons {
  color: #a9a9a9;

  i {
    font-size: 25px;
    margin-right: 20px;
  }
}

.news {
  margin-bottom: 0px;
}

.image-holder {
  height: 100%;
  display: table !important;
}

.image-text {
  padding: 100px 50px;
  display: table-cell;
  vertical-align: middle;
  height: 100%;

  h4 {
    color: white;
    margin-bottom: 10px;
    font-family: $font-family--bold;
  }
}

.media {
  height: 400px;
}

.mejs-container {
  width: 100% !important;
}

.video-holder {
  overflow: hidden;
  height: 400px;
  position: relative;
}

.wp-video {
  margin-top: -40%;
}

.text-holder{
  background-color: #dcdcdc;
  padding: 60px;
  h3{
   
    color: #393939;
  }
  p{
    color: #9e9e9e;
  }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
