/* Banner navigation */

.banner-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	padding: 30px 15px;

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;

			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;

			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		width: 100%;
		margin: 10px 0 20px;

		&:hover > a,
		&.focus > a {
		}

		&::before {
			content: "for";
			color: $yellow-primary;
			font-family: Georgia, Times, 'Times New Roman', serif;
			font-style: italic;
			position: relative;
			top: 0px;
			left: 4px;
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: $yellow-primary;
		text-transform: uppercase;
		font-size: em(15);
		font-family: $font-family--bold;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
@media only screen and (min-width:767px) and (max-width:925px){
	.banner-navigation{
		a{
			font-size:em(12);
		}
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Main navigation

.menu-container{
	display:inline-block;
	text-align:right;
	width:70%;
}

.main-navigation{
	&.new{
		.open-menu{
			font-size:inherit;
		}
	}
}

.open-menu{
	cursor:pointer;
	margin-left:10px;
	display:none !important;
	//font-size:10px !important;

	@include mq($custom, 'max-width') {
	 display:inline-block !important;
	 
	}



	&:hover,
	&:focus,
	&:active{
		opacity:.7;
	}
	
}

.mobile-open-nav{
	display:none;
	
}

.main-navigation {
	clear: both;
	display: block;
	float: right;

	&.new{
		ul{
			> li{
				position:relative;
			    margin: 0 5px 5px 15px;
				//margin-right
					a{
						padding-right:15px;

						&:after{
							content:'';
							position:absolute;
							top:5px;
							right:0;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 7px 5px 0 5px;
							border-color: #8a559f transparent transparent transparent;
							@media only screen and (max-width:970px){
								display:none;
							}
						}
					}
				ul{
					li{
						a:after{
							display:none;
						}
					}
				}
				
			}
		}
	}

	@include mq($mobile-landscape-width, 'max-width') {
		 //float: left;
		 display: none;
	}

	@include mq($custom, 'max-width') {
		float:none;
	}

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		padding-top: 25px;

		@include mq($tablet-landscape-width, 'max-width') {
			 padding-top: 15px;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			background-color:white;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			padding:15px;

			@include mq($custom, 'max-width') {
			 display:none;
			 position:initial;
			 box-shadow:none;
			 float:none;
			 width:100%;

			}

			ul {
				left: -999em;
				top: 0;

			}

			li {
				margin-left:0;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				text-transform:capitalize;
				@include mq($custom, 'max-width') {
					width:auto;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		margin: 0 5px 5px 25px;

		@include mq($custom, 'max-width') {
			 margin: 0 5px 5px 5px;
			 float: left;
			 width: 100%;
			 text-align:center;
		}

		&:hover > a,
		&.focus > a {
		}

		a {
			float: left;
			border-bottom: 3px solid white;

			@include mq($custom, 'max-width') {
				 font-size: 12px;
				 //width: 100%;
				 text-align: center;
				 float:none;
				 display:inline-block;
			}
		}


		&:nth-child(1) {

			&.current-menu-item > a, 
			&.current_page_ancestor > a,
			&:hover > a,
			&:focus > a,
			&:active > a{
				border-bottom: 3px solid $purple-tertiary;
			}

			ul{
				li{
					a{
						border-bottom: 3px solid white;
						&:hover,
						&:focus,
						&:active{
							border-bottom: 3px solid $purple-tertiary;
						}
					}

					&:hover,
					&:focus,
					&:active{
						a{
							border-bottom: 3px solid $purple-tertiary;
						}
					}

					&.current-menu-item > a {
						border-bottom: 3px solid $purple-tertiary;
					}		
				}
				
			}
		}
		&:nth-child(2) {

			&.current-menu-item > a, 
			&.current_page_ancestor > a,
			&:hover > a,
			&:focus > a,
			&:active > a{
				border-bottom: 3px solid $blue-primary;
			}

			ul{
				li{
					a{
						border-bottom: 3px solid white;
						&:hover,
						&:focus,
						&:active{
							border-bottom: 3px solid $blue-primary;
						}
					}

					&:hover,
					&:focus,
					&:active{
						a{
							border-bottom: 3px solid $blue-primary;
						}
					}

					&.current-menu-item > a {
						border-bottom: 3px solid $blue-primary;
					}		
				}
				
			}
		}
		&:nth-child(3) {
			&.current-menu-item > a, 
			&.current_page_ancestor > a,
			&:hover > a,
			&:focus > a,
			&:active > a{

				border-bottom: 3px solid $green-primary;
			}

			ul{
				li{
					a{
						border-bottom: 3px solid white;
						&:hover,
						&:focus,
						&:active{
							border-bottom: 3px solid $green-primary;
						}
					}

					&:hover,
					&:focus,
					&:active{
						a{
							border-bottom: 3px solid $green-primary;
						}
					}

					&.current-menu-item > a {
						border-bottom: 3px solid $green-primary;
					}	
				}

				
			}
		}
		&:nth-child(4) {
			&.current-menu-item > a, 
			&.current_page_ancestor > a,
			&:hover a,
			&:focus a,
			&:active a{
				border-bottom: 3px solid $yellow-primary;
			}

			ul{
				li{
					a{
						border-bottom: 3px solid white;

						&:hover,
						&:focus,
						&:active{
							border-bottom: 3px solid $yellow-primary;
						}
					}

					&:hover,
					&:focus,
					&:active{
						a{
							border-bottom: 3px solid $yellow-primary;
						}
					}

					&.current-menu-item > a {
						border-bottom: 3px solid $yellow-primary;
					}
				}
				
			}
		}

	}
	a {
		display: block;
		text-decoration: none;
		color: #3a3a3a;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.04em;
		font-family: $font-family--primary;
		text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.menu-toggle {
	display: none;
	text-transform: uppercase;
	font-family: $font-family--bold;
	letter-spacing: 0.04em;
	font-size: 10px;
	cursor: pointer;

	@include mq($mobile-landscape-width, 'max-width') {
		display: block;
		text-align: center;
		width: 100%;
		float: left;
		cursor: pointer;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.banner-sidebar {
  background-color: #3a3a3a;
	background-image: url('img/overlay.png');
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 30px;
}

.side-menu {
	position: absolute;
	left: 50px;
	width: 200px;
	z-index: 100;

	.list {
		padding: 20px;
		background: $yellow-primary;
	}

	.info {
		border-bottom: 2px solid #cfcfcf;
		border-top: 2px solid #cfcfcf;
		padding: 10px;
		text-align: center;
		a {
			font-family: $font-family--italic;
			font-size: 10px;
		}
	}



	.apply {
		padding: 10px;
		text-align: center;
		background: #616161;
		margin-top: 10px;

		a {
			text-transform: uppercase;
			color: $yellow-primary;
		}

		&:hover {
			background: $yellow-primary;

			a {
				color: #616161;
			}
		}
	}

	a {
		color: $grey;
		font-family: $font-family--bold;
		font-size: 15px;
		line-height: 30px;

	}

	.scrolled-item a {
		border-bottom: 3px solid #616161;
	}

	@include mq($mobile-landscape-width, 'max-width') {
		 display: none;
	}

}

.utilities-nav {
  background: #eeeeee;
	float: left;
	width: 100%;

	a {
		color: #8f8f8f;
		text-transform: uppercase;
		font-size: 10px;
		font-family: $font-family--regular;

		@include mq($tablet-width, 'max-width') {
			 font-size: 7px;
		}
	}


	ul {
		float: right;
		margin: 0 30px;

		@include mq($mobile-landscape-width, 'max-width') {
			 float: none;
			 margin: 0 auto;
			 text-align: center;
		}

		li {
			float: left;
			position: relative;
			padding: 0 10px;
			display: inline;

			@include mq($mobile-landscape-width, 'max-width') {
			 	padding: 0 3px;
				float: none;
			}

			&.current_page_parent a,&.current-menu-item a,&.current-page-ancestor a {
				color: black;
			}
		}
	}
}

.banner-navigation li:hover {
	opacity: 0.7;
}

.utilities-nav a:hover {
	color: black;
	opacity: 1;
}
